/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.vagrant
ubuntu-xenial-16.04-cloudimg-console.log
/test

.DS_Store
lib/myrails/modules/gems.locked
.vscode/temp.sql
