%footer.footer-distributed
  .footer-left
    %p.footer-links
      %a{:href => "#"} Home
      ·
      %a{:href => "#"} Blog
      ·
      %a{:href => "#"} Pricing
      ·
      %a{:href => "#"} About
      ·
      %a{:href => "#"} Faq
      ·
      %a{:href => "#"} Contact
    %p.footer-company-name Company Name &copy; #{Date.today.year}
  .footer-right
    %form{:action => "#", :method => "get"}
      %input{:name => "search", :placeholder => "Search our website"}/
      %i.fa.fa-search
