.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      =link_to :AppTitle, '#', class: 'navbar-brand'
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          =link_to :About
      %ul.nav.navbar-nav.navbar-right
        -if Rails.env.development?
          %li
            =link_to :UI, '/ui'
          %li
            =link_to 'Mailer Previews', '/rails/mailers'
        -#
          %li
            -if user_signed_in?
              =link_to fa_icon('sign-out', text: 'Sign Out'), destroy_user_session_path, method: :delete
            -else
              =link_to fa_icon('sign-in', text: 'Sign In'), new_user_session_path
