/ Dropdown Structure
%ul#admin-dropdown.dropdown-content
  %li=link_to :Link1
  %li.divider
  %li=link_to :Contacts
.navbar-fixed
  %nav
    .nav-wrapper
      =link_to 'App Name', nil, class: 'brand-logo'
      %ul.right.hide-on-med-and-down
        %li=link_to :About
        %li=link_to :Link1
        %li=link_to 'Contact Me'
        -#if current_user && current_user.admin?
          / Dropdown Trigger
          %li
            %a.dropdown-trigger{"data-target" => "admin-dropdown", :href => "#!"}
              Administration
              -# %i.material-icons.right arrow_drop_down
        -if Rails.env.development?
          %li=link_to :UI, '/ui/index'
          %li=link_to 'Mailer Previews', '/rails/mailers'
        -#%li
          -if user_signed_in?
            =link_to fa_icon('sign-out', text: 'Sign Out'), destroy_user_session_path, method: :delete
          -else
            =link_to fa_icon('sign-in', text: 'Sign In'), new_user_session_path
