!!!
%head
  %meta{'http-equiv' => "content-type", content: "text/html;charset=utf-8"}
  %meta{name: "author", content: "Lovell McIlwain"}
  %meta{name: "ROBOTS", content: "INDEX, NOFOLLOW"}
  -if content_for?(:head)
    =yield :head
  -else
    %meta{name: 'description', content: 'Site description'}
  %title App Name
  =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  =javascript_include_tag 'application', 'data-turbolinks-track' => true
  =csrf_meta_tags
%body
  =render 'layouts/nav'
  .container
    =render 'layouts/info_messages'
    =yield
  =render 'layouts/footer'
