
%footer.footer-distributed
  .footer-left
    %h3
      Company
      %span logo
    %p.footer-links
      %a{:href => "#"} Home
      ·
      %a{:href => "#"} Blog
      ·
      %a{:href => "#"} Pricing
      ·
      %a{:href => "#"} About
      ·
      %a{:href => "#"} Faq
      ·
      %a{:href => "#"} Contact
    %p.footer-company-name Company Name &copy; #{Date.today.year}
  .footer-center
    %div
      %i.fa.fa-map-marker
      %p
        %span 21 Revolution Street
        Paris, France
    %div
      %i.fa.fa-phone
      %p +1 555 123456
    %div
      %i.fa.fa-envelope
      %p
        %a{:href => "mailto:support@company.com"} support@company.com
  .footer-right
    %p.footer-company-about
      %span About the company
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    .footer-icons
      %a{:href => "#"}
        %i.fa.fa-facebook
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "#"}
        %i.fa.fa-linkedin
      %a{:href => "#"}
        %i.fa.fa-github
